<h1 class="text-center"> My flats </h1>

<div class="container text-center">
  <div class="row">
    <% @flats.each do |flat| %>

        <h3><%= flat.title %></h3>
        <h3>
          <%= link_to(edit_flat_path(flat)) do %>
            <i class="fa fa-pencil"></i>
          <% end %>
          <%= link_to(flat_path(flat), method: :delete, data: { confirm: 'Are you sure?' }) do %>
            | <i class="fa fa-trash"></i>
          <% end %>
        </h3>
        <div class="col-xs-12 col-sm-6">
        <div class="manage_flat_image">
          <%= image_tag flat.picture.url(:medium) %>
        </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="flat_description text-left">
            <div class="spacer"></div>
            <p><strong>Address:</strong> <%= flat.address %></p>
            <p><strong>City:</strong> <%= flat.city %></p>
            <p><strong>Description:</strong> <%= flat.description %></p>
            <p><strong>Booked:</strong></p>
            <ul>
              <% flat.bookings.each do |booking| %>
                <li>From <%= booking.start_date %> to <%= booking.end_date %> by <%= booking.user.first_name %> <%= booking.user.last_name %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col-xs-12 text-center">
        <%= link_to 'Add a new flat', (new_flat_path), class: 'btn btn-default' %>
      </div>
    </div>
  </div>
</div>

