<h1 class="text-center">Book this Flat <br> <%= @flat.title %></h1>
<br>
<div class="container text-center">
  <div class="row">
    <div class="col-sm-12 col-md-5">
      <div class="index_flats">
        <%= image_tag @flat.picture.url(:large) %>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="col-sm-12 col-md-7">
      <p>
        <strong>Address:</strong>
        <%= @flat.address %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @flat.description %>
      </p>
      <p>
        <strong>Owner:</strong>
        <%= @flat.user.first_name %>
        <%= @flat.user.last_name %>
      </p>


      <div class="spacer"></div>

     <%= month_calendar  header: {class: "calendar-header"},title: ->(start_date) { content_tag :span, "Availabilities for #{I18n.t("date.month_names")[start_date.month]} #{start_date.year}", class: "calendar-title" } do |date| %>
        <% if @flat.availabilities.find_by(day: date).present? %>
          <% if @flat.availabilities.find_by(day: date).booking.present? %>
            <div class="calendar-booked">
            <%= date.mday %>
            </div>
          <% else %>
            <div class="calendar-available">
            <%= date.mday %>
            </div>
          <% end %>
        <% else %>
          <div class="calendar-booked">
          <%= date.mday %>
          </div>
        <% end %>
      <% end %>

      <br>

      <%= render 'bookings/form'%>
    </div>



    <br>
    <br>
    <!-- GOOGLEMAP -->

    <div id="map" style="width: 80%; height: 400px;" class="container text-center">
    </div>

    <br>
    <br>

  <% content_for(:js) do %>
    <script type="text/javascript">
      $(document).on('ready', function() {
        handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function(){
          markers = handler.addMarkers(<%= raw @markers.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          handler.getMap().setZoom(14);
        });
      })
    </script>
  <% end %>


  </div>
</div>

<br>
<br>
