<h1 class="text-center"><%= @flat.title %></h1>
<br>
<div class="container text-center">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <%= image_tag @flat.picture.url(:large) %>
    </div>
    <div class="spacer"></div>
    <div class="col-sm-12 col-md-6">
      <p>
        <strong>Address:</strong>
        <%= @flat.address %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @flat.description %>
      </p>
      <p>
        <strong>Owner:</strong>
        <%= @flat.user.first_name %>
        <%= @flat.user.last_name %>
      </p>
      <div class="spacer"></div>

     <%= month_calendar  header: {class: "calendar-header"},title: ->(start_date) { content_tag :span, "Availabilities for #{I18n.t("date.month_names")[start_date.month]} #{start_date.year}", class: "calendar-title" } do |date| %>
        <% if @flat.availabilities.find_by(day: date).present? %>
          <% if @flat.availabilities.find_by(day: date).booking.present? %>
            <div class="calendar-booked">
            <%= date.mday %>
            </div>
          <% else %>
            <div class="calendar-available">
            <%= date.mday %>
            </div>
          <% end %>
        <% else %>
          <div class="calendar-booked">
          <%= date.mday %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="col-xs-offset-2 col-xs-8 col-sm-offset-4 col-sm-4">
      <%= render 'bookings/form'%>
    </div>

  </div>
</div>

