<div class="container">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 col-lg-offset-4 col-lg-4">

      <h2 class="text-center"><%= @flat.title %></h2>

      <%= image_tag @flat.picture.url(:large) %>

      <p>
        <strong>Address:</strong>
        <%= @flat.address %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @flat.description %>
      </p>

      <p>
        <strong>Owner:</strong>
        <%= @flat.user.first_name %>
        <%= @flat.user.last_name %>
      </p>
      <%= month_calendar  header: {class: "calendar-header"},title: ->(start_date) { content_tag :span, "Availabilities for #{I18n.t("date.month_names")[start_date.month]} #{start_date.year}", class: "calendar-title" } do |date| %>
        <% if @flat.availabilities.find_by(day: date).present? %>
          <% if @flat.availabilities.find_by(day: date).booking.present? %>
            <div class="calendar_booked">
            <%= date.mday %>
            </div>
          <% else %>
            <div class="calendar_available">
            <%= date.mday %>
            </div>
          <% end %>
        <% else %>
          <div class="calendar_booked">
          <%= date.mday %>
          </div>
        <% end %>
      <% end %>


      <%= render 'bookings/form'%>

    </div>
  </div>
</div>

