<h1 class="text-center">Your booking</h1>
<h2 class="text-center"><%= @flat.title %></h2>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 text-left">
      <%= image_tag @flat.picture.url(:medium) %>
    </div>
    <div class="spacer"></div>
    <div class="col-sm-12 col-md-6 text-center">
      <p>
        <strong>Address:</strong>
        <%= @flat.address %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @flat.description %>
      </p>

      <p>
        <strong>Owner:</strong>
        <%= @flat.user.first_name %>
        <%= @flat.user.last_name %>
      </p>

      <p>
        <strong>Start Date:</strong>
        <%= @booking.start_date %>
      </p>

      <p>
        <strong>End Date:</strong>
        <%= @booking.end_date %>
      </p>
      <%= link_to 'Back Home', root_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

