<h2 class="text-center">Sign in</h2>

</br>
<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name), class: 'form') do |f| %>
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="field">
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
          </div>
        <% end -%>

        <div class="actions orange-btn">
          <%= f.submit "Log in" %>
        </div>
      </div>
      <div class="col-xs-6" id="fb-btn">
         <%= link_to(user_omniauth_authorize_path(:facebook), class: "btn btn-primary btn-lg") do %>
            Connect with <i class="fa fa-facebook"></i>
          <% end %>
      </div>
    </div>
    <div id= "signup">
       <%= link_to "I don't have any account, I need to sign up first !", new_user_registration_path %>
    </div>
  </div>
<% end %>
